.admin{
    width:100%;
    min-height:100vh;
    display:flex;
    flex-direction:column;
    align-items:center;
    padding: 120px 64px 64px 64px;
}
.admin-nav-header{
    width:100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    overflow:visible;
    overflow-x: scroll;
    overflow-y: unset;
    gap:32px;
    padding: 32px 16px 8px 16px;
    border-bottom: 2px solid var(--blue-link);
}
.admin-nav-header::-webkit-scrollbar{
    display:none;
}
.admin-item-header{
    width:100%;
    display:flex;
    align-items: center;
    flex-wrap:wrap;
    padding: 32px 0 32px 0;
    gap:16px;
}
/* .admin-item-header h5{
    margin-right:auto;
} */
/* .admin-item-counter{
    margin-left:right;
} */
.admin-item-header button{
    margin-left:auto;
}
.admin-item-button{
    padding:8px 16px 8px 16px;
    border:1px solid var(--black-30);
    border-radius:8px;
}
.admin-notifications{
    width:min(1000px, 100%);
    display:flex;
    flex-direction: column;
    /* padding: 32px 0 32px 0; */
    gap:16px;
}
.admin-notification{
    width: 100%;
    display:flex;
    flex-direction:row;
    align-items: flex-start;
    gap:8px;
    border-bottom:1px solid var(--black-30);
}
.admin-notification-text{
    width:100%;
}
.admin-global{
    width:min(100%,1000px);
}
.admin-global-banner{
    width:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.admin-global-banner-form{
    width:min(600px,100%);
    display:flex;
    flex-direction: column;
    padding:16px;
    gap:8px;
}
.admin-global-input{
    height:48px;
    width:100%;
    border:1px solid var(--black-30);
    border-radius:8px;
}
.admin-global-input input{
    background: transparent;
    height:100%;
    width:100%;
    font-size: 18px;
}
.admin-global-btn{
    display:flex;
    flex-direction: row;
    align-items: center;
    gap:8px;
    padding:8px 16px 8px 16px;
    border:1px  solid var(--black-30);
    border-radius: 8px;
    width:fit-content;
    margin-inline:auto;
}
.admin-global-input input:focus{
    border:none;
    outline:none;
}
.admin-projects{
    width:min(1000px, 100%);
    display:flex;
    flex-direction: column;
    /* padding: 32px 0 32px 0; */
    gap:16px;
}
.admin-project{
    width:100%;
    display:flex;
    flex-direction: row;
    gap:8px;
    padding: 16px 0 16px 0;
    border-bottom:1px solid var(--black-30);
}
.admin-project-infos{
    width:100%;
    display:flex;
    flex-direction: column;
    gap:8px;
}
.admin-project-p{
    width:100%;
}
.admin-project-icon-p{
    width:100%;
    display:flex;
    flex-direction: row;
    gap:8px;
}
.admin-project-buttons{
    display:flex;
    flex-direction: column;
    align-items: center;
    margin-top:auto;
    gap:16px;
}
.admin-message{
    width:min(1000px,100%);
    display:flex;
    flex-direction:column;
    align-items: center;
}
.admin-message-form{
    width:min(600px,100%);
    display:flex;
    flex-direction: column;
    padding:16px;
    border:1px solid var(--black-30);
    border-radius:16px;
    gap:16px;
}
.admin-message-input-container{
    height:48px;
    width:100%;
    border-bottom:1px solid var(--black-20);
}
.admin-message-ta-container{
    height:140px;
    width:100%;
    border-bottom:1px solid var(--black-20);
}
.admin-message-input-container input,
.admin-message-ta-container textarea{
    height:100%;
    width:100%;
    font-size: 18px;
    color:var(--black-70);
}
.admin-message-input-container input:focus,
.admin-message-ta-container textarea:focus{
    border:none;
    outline:none;
}
.admin-send-btn{
    width:fit-content;
    margin-inline:auto;
    display:flex;
    flex-direction:row;
    align-items: center;
    gap:8px;
    padding:8px 16px 8px 16px;
    border:1px solid var(--black-30);
    border-radius:16px;
}
.global-centered-text{
    width:100%;
    display:flex;
    align-items: center;
    justify-content: center;
}

@media only screen and (max-width:1200px){
    .admin{
        /* width:100%;
        min-height:100vh;
        display:flex;
        flex-direction:column;
        align-items:center; */
        padding: 112px 32px 64px 32px;
    }
    .admin-nav-header{
        /* width:100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        overflow:visible;
        overflow-x: scroll;
        overflow-y: unset; */
        gap:24px;
        padding: 24px 16px 8px 16px;
        /* border-bottom: 2px solid var(--blue-link); */
    }
    /* .admin-nav-header::-webkit-scrollbar{
        display:none;
    } */
    .admin-item-header{
        /* width:100%;
        display:flex;
        align-items: center;
        flex-wrap:wrap; */
        padding: 24px 0 24px 0;
    }
    /* .admin-item-header h5{
        margin-right:auto;
    }
    .admin-item-header button{
        margin-left:auto;
    }
    .admin-item-button{
        padding:8px 16px 8px 16px;
        border:1px solid var(--black-30);
        border-radius:8px;
    } */
    .admin-notifications{
        /* width:min(1000px, 100%);
        display:flex;
        flex-direction: column; */
        /* padding: 32px 0 32px 0; */
        gap:16px;
    }
    /* .admin-notification{
        width: 100%;
        display:flex;
        flex-direction:row;
        align-items: flex-start;
        gap:8px;
    } */
    /* .admin-notification-text{
        width:100%;
    }
    .admin-global{
        width:min(100%,1000px);
    } */
    /* .admin-global-banner{
        width:100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    } */
    /* .admin-global-banner-form{
        width:min(600px,100%);
        display:flex;
        flex-direction: column;
        padding:16px;
        gap:8px;
    } */
    /* .admin-global-input{
        height:48px;
        width:100%;
        border:1px solid var(--black-30);
        border-radius:8px;
    } */
    /* .admin-global-input input{
        background: transparent;
        height:100%;
        width:100%;
        font-size: 16px;
    } */
    /* .admin-global-btn{
        display:flex;
        flex-direction: row;
        align-items: center;
        gap:8px;
        padding:8px 16px 8px 16px;
        border:1px  solid var(--black-30);
        border-radius: 8px;
        width:fit-content;
        margin-inline:auto;
    } */
    /* .admin-global-input input:focus{
        border:none;
        outline:none;
    } */
    /* .admin-projects{
        width:min(1000px, 100%);
        display:flex;
        flex-direction: column;
        padding: 32px 0 32px 0;
        gap:16px;
    } */
    /* .admin-project{
        width:100%;
        display:flex;
        flex-direction: row;
        gap:8px;
        padding: 16px 0 16px 0;
        border-bottom:1px solid var(--black-30);
    }
    .admin-project-infos{
        width:100%;
        display:flex;
        flex-direction: column;
        gap:8px;
    } */
    /* .admin-project-p{
        width:100%;
    }
    .admin-project-icon-p{
        width:100%;
        display:flex;
        flex-direction: row;
        gap:8px;
    } */
    /* .admin-project-buttons{
        display:flex;
        flex-direction: column;
        align-items: center;
        margin-top:auto;
        gap:16px;
    }
    .admin-message{
        width:min(1000px,100%);
        display:flex;
        flex-direction:column;
        align-items: center;
    } */
    /* .admin-message-form{
        width:min(600px,100%);
        display:flex;
        flex-direction: column;
        padding:16px;
        border:1px solid var(--black-30);
        border-radius:16px;
        gap:16px;
    } */
    /* .admin-message-input-container{
        height:48px;
        width:100%;
        border-bottom:1px solid var(--black-20);
    } */
    .admin-message-ta-container{
        height:140px;
        /* width:100%; */
        /* border-bottom:1px solid var(--black-20); */
    }
    .admin-message-input-container input,
    .admin-message-ta-container textarea{
        /* height:100%;
        width:100%; */
        font-size: 16px;
        /* color:var(--black-70); */
    }
    /* .admin-message-input-container input:focus,
    .admin-message-ta-container textarea:focus{
        border:none;
        outline:none;
    } */
    /* .admin-send-btn{
        width:fit-content;
        margin-inline:auto;
        display:flex;
        flex-direction:row;
        align-items: center;
        gap:8px;
        padding:8px 16px 8px 16px;
        border:1px solid var(--black-30);
        border-radius:16px;
    } */
    /* .global-centered-text{
        width:100%;
        display:flex;
        align-items: center;
        justify-content: center;
    } */
    
}

@media only screen and (max-width:600px){
    .admin{
        /* width:100%;
        min-height:100vh;
        display:flex;
        flex-direction:column;
        align-items:center; */
        padding: 96px 16px 64px 16px;
    }
    .admin-nav-header{
        /* width:100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        overflow:visible;
        overflow-x: scroll;
        overflow-y: unset; */
        gap: 16px;
        /* padding: 24px 16px 8px 16px; */
        /* border-bottom: 2px solid var(--blue-link); */
    }
    /* .admin-nav-header::-webkit-scrollbar{
        display:none;
    } */
    .admin-item-header{
        /* width:100%;
        display:flex;
        align-items: center;
        flex-wrap:wrap; */
        /* padding: 24px 0 24px 0; */
    }
    /* .admin-item-header h5{
        margin-right:auto;
    }
    .admin-item-header button{
        margin-left:auto;
    }
    .admin-item-button{
        padding:8px 16px 8px 16px;
        border:1px solid var(--black-30);
        border-radius:8px;
    } */
    .admin-notifications{
        /* width:min(1000px, 100%);
        display:flex;
        flex-direction: column; */
        /* padding: 32px 0 32px 0; */
        /* gap:16px; */
    }
    /* .admin-notification{
        width: 100%;
        display:flex;
        flex-direction:row;
        align-items: flex-start;
        gap:8px;
    } */
    /* .admin-notification-text{
        width:100%;
    }
    .admin-global{
        width:min(100%,1000px);
    } */
    /* .admin-global-banner{
        width:100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    } */
    /* .admin-global-banner-form{
        width:min(600px,100%);
        display:flex;
        flex-direction: column;
        padding:16px;
        gap:8px;
    } */
    /* .admin-global-input{
        height:48px;
        width:100%;
        border:1px solid var(--black-30);
        border-radius:8px;
    } */
    /* .admin-global-input input{
        background: transparent;
        height:100%;
        width:100%;
        font-size: 16px;
    } */
    /* .admin-global-btn{
        display:flex;
        flex-direction: row;
        align-items: center;
        gap:8px;
        padding:8px 16px 8px 16px;
        border:1px  solid var(--black-30);
        border-radius: 8px;
        width:fit-content;
        margin-inline:auto;
    } */
    /* .admin-global-input input:focus{
        border:none;
        outline:none;
    } */
    /* .admin-projects{
        width:min(1000px, 100%);
        display:flex;
        flex-direction: column;
        padding: 32px 0 32px 0;
        gap:16px;
    } */
    /* .admin-project{
        width:100%;
        display:flex;
        flex-direction: row;
        gap:8px;
        padding: 16px 0 16px 0;
        border-bottom:1px solid var(--black-30);
    }
    .admin-project-infos{
        width:100%;
        display:flex;
        flex-direction: column;
        gap:8px;
    } */
    /* .admin-project-p{
        width:100%;
    }
    .admin-project-icon-p{
        width:100%;
        display:flex;
        flex-direction: row;
        gap:8px;
    } */
    /* .admin-project-buttons{
        display:flex;
        flex-direction: column;
        align-items: center;
        margin-top:auto;
        gap:16px;
    }
    .admin-message{
        width:min(1000px,100%);
        display:flex;
        flex-direction:column;
        align-items: center;
    } */
    /* .admin-message-form{
        width:min(600px,100%);
        display:flex;
        flex-direction: column;
        padding:16px;
        border:1px solid var(--black-30);
        border-radius:16px;
        gap:16px;
    } */
    /* .admin-message-input-container{
        height:48px;
        width:100%;
        border-bottom:1px solid var(--black-20);
    } */
    .admin-message-ta-container{
        height:100px;
        /* width:100%; */
        /* border-bottom:1px solid var(--black-20); */
    }
    .admin-message-input-container input,
    .admin-message-ta-container textarea{
        /* height:100%;
        width:100%; */
        /* font-size: 16px; */
        /* color:var(--black-70); */
    }
    /* .admin-message-input-container input:focus,
    .admin-message-ta-container textarea:focus{
        border:none;
        outline:none;
    } */
    /* .admin-send-btn{
        width:fit-content;
        margin-inline:auto;
        display:flex;
        flex-direction:row;
        align-items: center;
        gap:8px;
        padding:8px 16px 8px 16px;
        border:1px solid var(--black-30);
        border-radius:16px;
    } */
    /* .global-centered-text{
        width:100%;
        display:flex;
        align-items: center;
        justify-content: center;
    } */
    
}