

.footer{
    width:100%;
    display:flex;
    flex-direction: column;
    gap:32px;
    padding:64px 64px 64px 64px;
    background-color:var(--green-footer);
}
.footer-nav{
    width:100%;
    display:flex;
    flex-wrap: wrap;
    gap:64px;
    padding:16px;
    border-radius: 16px;
    background-color: var(--green-footer-darker);
    /* border:1px solid red; */
    box-shadow: inset 0 0 8px var(--black-10);
}
.footer-nav-item{
    display:flex;
    flex-direction:column;
    gap:16px;
}
.footer-nav-header{
    width:100%;
}
.footer-nav-content{
    width:100%;
    display:flex;
    flex-direction: column;
    gap:8px;
    padding: 0 0 0 8px;
}

.footer-nav-social{
    height:100%;
    width:100%;
    display:flex;
    flex-direction:row;
    align-items: center;
    justify-content: space-between;
    gap:64px;
    padding:16px;
}

.footer-nav-social-icons{
    display:flex;
    flex-direction: row;
    align-items: center;
    gap:64px;
}

.copyright{
    display:flex;
    flex-direction: row;
    align-items: center;
    gap:8px;
    padding:16px;
}

@media only screen and (max-width:1200px) {
    .footer{
        /* width:100%;
        display:flex;
        flex-direction: column; */
        gap:24px;
        padding:64px 32px 64px 32px;
        /* background-color:var(--green-footer); */
    }
    .footer-nav{
        /* width:100%;
        display:flex;
        flex-wrap: wrap; */
        gap:32px;
    }
    .footer-nav-social-icons{
        /* display:flex;
        flex-direction: row;
        align-items: center; */
        gap:32px;
    }
}
@media only screen and (max-width:600px) {
    .footer{
        /* width:100%;
        display:flex;
        flex-direction: column; */
        gap:24px;
        padding:64px 16px 64px 16px;
        /* background-color:var(--green-footer); */
    }
    .footer-nav{
        /* width:100%;
        display:flex;
        flex-wrap: wrap; */
        gap:24px;
    }
    .footer-nav-social{
        /* height:100%;
        width:100%;
        display:flex; */
        flex-direction:column;
        align-items: center;
        justify-content: center;
        gap:16px;
    
    }
    .footer-nav-social-icons{
        /* display:flex;
        flex-direction: row;
        align-items: center; */
        width:100%;
        justify-content: space-around;
        gap:16px;
    }
}