.homeProjects{
    display:flex;
    flex-direction: column;
    align-items: center;
    padding: 64px 64px 64px 64px;
    gap:32px;
}
.homeProjects-header{
    display:flex;
    flex-direction: row;
    align-items: center;
    width:100%;
    gap:32px;
}
.homeProjects-header select{
    /* -webkit-appearance: none;
    -moz-appearance : none; */
    border:1px solid var(--black-30);
    font-size:21px;
    font-weight: 400;
    font-family: 'Nunito Sans', sans-serif;
    height:40px;
    width:120px;
}
.homeProjects-select{
    width:fit-content;
    border-radius: 8px;
    border: 1px solid var(--black-30);
    color: var(--black-90);
    background:transparent;
}
.homeProjects-header-button{
    background:transparent;
    margin-left:auto;
    display:flex;
    flex-direction:row;
    align-items: center;
    gap:16px;
}
.homeProjects-projects{
    width: min(100%, 1300px);
    /* display:flex;
    justify-content: space-around;
    flex-wrap: wrap; */
    display:grid;
    grid-template-columns: repeat(auto-fill, minmax(280px,1fr));
    gap:32px;
    align-items: center;
}
/* .homeProjects-projects > *{
    margin:auto;
} */

@media only screen and (max-width:1200px) {
    .homeProjects{
        /* display:flex;
        flex-direction: column;
        align-items: center; */
        padding: 64px 32px 64px 32px;
        gap:24px;
    }
    .homeProjects-header{
        /* display:flex;
        flex-direction: row;
        align-items: center;
        width:100%; */
        gap:24px;
    }
    .homeProjects-header select{
        /* -webkit-appearance: none;
        -moz-appearance : none; */
        /* border:1px solid var(--black-30);
        font-size:21px;
        font-weight: 400;
        font-family: 'Nunito Sans', sans-serif;
        height:40px; */
        width:100px;
    }
}

@media only screen and (max-width:600px) {
    .homeProjects{
        /* display:flex;
        flex-direction: column;
        align-items: center; */
        padding: 64px 16px 64px 16px;
        gap:24px;
    }
    .homeProjects-header{
        /* display:flex;
        flex-direction: row;
        align-items: center;
        width:100%; */
        gap:8px;
    }
    .homeProjects-header select{
        /* -webkit-appearance: none;
        -moz-appearance : none; */
        /* border:1px solid var(--black-30);
        font-size:21px;
        font-weight: 400;
        font-family: 'Nunito Sans', sans-serif;*/
        height:32px; 
        width:80px;
    }
    .homeProjects-header-button h6{
        display:none;
    }
}