.main-projects{
    padding: 120px 0 0 0;
    min-height:100vh;
}
.projectsPage-filter{
    width:100%;
    display:flex;
    flex-direction:column;
    gap:32px;
    padding: 16px 64px 16px 64px;
}
.projectsPage-filter-search{
    width:100%;
    display:flex;
    flex-direction:row;
    align-items: center;
    gap:32px;
}
.filter-search input{
    border:none;
    outline:none;
}
.filter-search{
    height:48px;
    width:100%;
    display:flex;
    align-items: center;
    border:1px solid var(--black-30);
    border-radius: 8px;
}
.filter-search-input{
    height:100%;
    width:100%;
    font-size: 21px;
    background:transparent;
}
.exit-search-btn{
    border-right:1px solid var(--black-30);
}
.search-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 8px 0 8px;
    background: transparent;
}
/* ------------------------------- */
/* .projectsPage-projects{
    width:100%;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 16px 64px 64px 64px;
    gap:32px;
} */
.projectsPage-projects{
    width:100%;
    display:grid;
    grid-template-columns: repeat(auto-fill, minmax(280px,1fr));
    padding: 16px 64px 64px 64px;
    gap:32px;
}
.projectsPage-searching{
    width:100%;
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.projectsPage-search-status{
    width:100%;
    display:flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
.projectsPage-search-btn{
    padding:8px 16px 8px 16px;
    border:1px solid var(--black-30);
    border-radius: 8px;
    align-self: flex-end;
}
.projectsPage-categories-header{
    width:100%;
    display:flex;
    flex-wrap: wrap;
    align-items: center;
    gap:16px;
    padding:32px 64px 32px 64px;
}
.projectsPage-categories-header h5{
    align-self: flex-start;
}
.projectsPage-categories-header button{
    margin-left:auto;
}
.projectsPage-categories-btn{
    padding:8px 16px 8px 16px;
    border:1px solid var(--black-30);
    border-radius: 8px;
    align-self: flex-end;
}
.projectsPage-categories-text-container{
    width:100%;
    display:flex;
    align-items: center;
    justify-content: center;
    padding: 8px 64px 8px 64px;
}

@media only screen and (max-width:1200px){
    .main-projects{
        padding: 112px 0 0 0;
        /* min-height:100vh; */
    }
    .projectsPage-filter{
        /* width:100%;
        display:flex;
        flex-direction:column; */
        gap:24px;
        padding: 16px 32px 16px 32px;
    }
    .projectsPage-filter-search{
        /* width:100%;
        display:flex;
        flex-direction:row;
        align-items: center; */
        gap:24px;
    }
    /* .filter-search{
        height:48px;
        width:100%;
        display:flex;
        align-items: center;
        border:1px solid var(--black-30);
        border-radius: 8px;
    } */
    .filter-search-input{
        /* height:100%;
        width:100%; */
        font-size: 18px;
        /* background:transparent; */
    }
    /* .exit-search-btn{
        border-right:1px solid var(--black-30);
    }
    .search-btn{
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0 8px 0 8px;
        background: transparent;
    } */
    .projectsPage-projects{
        /* width:100%;
        display:flex;
        flex-wrap: wrap;
        justify-content: space-around; */
        padding: 16px 32px 64px 32px;
        gap:16px;
    }
    .projectsPage-categories-header{
        /* width:100%;
        display:flex;
        flex-wrap: wrap;
        align-items: center;
        gap:16px; */
        padding:24px 24px 32px 32px;
    }
    .projectsPage-categories-text-container{
        /* width:100%;
        display:flex;
        align-items: center;
        justify-content: center; */
        padding: 8px 32px 8px 32px;
    }
}

@media only screen and (max-width:600px){
    .main-projects{
        padding: 96px 0 0 0;
        /* min-height:100vh; */
    }
    .projectsPage-filter{
        /* width:100%;
        display:flex;
        flex-direction:column; */
        gap:24px;
        padding: 8px 16px 16px 16px;
    }
    .projectsPage-filter-search{
        /* width:100%;
        display:flex;
        flex-direction:row;
        align-items: center; */
        gap:24px;
    }
    .filter-search{
        height:40px;
       /*  width:100%;
        display:flex;
        align-items: center;
        border:1px solid var(--black-30);
        border-radius: 8px; */
    }
    .filter-search-input{
        /* height:100%;
        width:100%; */
        font-size: 18px;
        /* background:transparent; */
    }
    /* .exit-search-btn{
        border-right:1px solid var(--black-30);
    }
    .search-btn{
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0 8px 0 8px;
        background: transparent;
    } */
    .projectsPage-projects{
        width:100%;
        display:flex;
        flex-direction: column;
        align-items: center;
        padding: 16px 16px 64px 16px;
        gap:16px;
    }
    .projectsPage-categories-header{
        /* width:100%;
        display:flex;
        flex-wrap: wrap;
        align-items: center;
        gap:16px; */
        padding:24px 16px 24px 16px;
    }
    .projectsPage-categories-text-container{
        /* width:100%;
        display:flex;
        align-items: center;
        justify-content: center; */
        padding: 8px 16px 8px 16px;
    }
}

